* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Promt', sans-serif;
	text-align: center;
	
}

header {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	background: #b7b7b7;
	padding: 0 12%;
}
	
	.logo{
		position:relative;
		right: -2000px;
	}

	h1 {
		margin-bottom: 0px;
	    margin-top: 4%;
	    font-size: 64px;
	    line-height: 100px;
	    color: rgb(255, 90, 95);
	    position: relative;
	    left: -2000px;

	}

main{
	display: inline-block;
	width: 1224px;
	text-align: left;

}
	.cityBlock{
		margin-top: 7%;
		border-bottom: 2px solid rgb(255, 90, 95);
		padding-bottom: 3%;	
	}
	/*/////////////animation slide from side when load*/
	.odd{
		position: relative;
    	left: -1500px;
	}
	.even{
		position: relative;
    	right: -1500px;
	}
	/*/////////////////////////////////////*/
		h3{
			font-size: 36px;
			color: rgb(255, 90, 95);
		}

		.viewButton{
			display: block;
		    text-decoration: none;
		    color: #f8040c;
		    border: 1px solid rgba(35, 33, 33, 0.69);
		    background: #b7b7b7;
		    background-color: #b7b7b7;
		    border-radius: 10px;
		    text-align: center;
		    margin-bottom: 1%;
		    width: 200px;
		}
		.photoBlock{
			margin-left: 1%;
			display: none;
		}
			.pic{
				display: inline-block;
				position: relative;
				margin-top: 20px;
				-webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 7%, 100% 94%, 80% 100%, 20% 100%, 0 93%, 0 8%);
				clip-path: polygon(20% 0%, 80% 0%, 100% 7%, 100% 94%, 80% 100%, 20% 100%, 0 93%, 0 8%);
			}
				span{
					display: none;
					width: 500px;
					height: 30px
					border: 1px solid black;
					background: white;
					border-radius: 15px;
				    position: absolute;
				    top: 10%;
				    right: 8%;
				    text-align: center;
				    font-size: 24px;
				    color: #ff5a5f;
				}
					span::after{
						content: '';
						width: 0;
						height: 0;
						border-style: solid;
						border-width: 50px 50px 0 50px;
						border-color: white transparent transparent transparent;
						position: absolute;
						top: 27px;
						right: 43%;
						
					}
					

footer{
	margin-top: 5%;
	padding-bottom: 30px;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	background: #b7b7b7;
	padding: 0 12%;
}
	h5{
		font-size: 64px;
	    line-height: 100px;
	    color: rgb(255, 90, 95);
	    margin-top: 5px;
    	margin-bottom: 0px;
	}
	li {
		list-style: none;
		display: block;
		text-align: left;
		margin-bottom: 5px;
	}
		li a{
			text-decoration: none;
			color: black;
		}

@media screen and (max-width: 1280px){
	main{
		padding: 0 10%;
	}

}

@media screen and (max-width: 1050px){
	header{
		display: block;
	}
	.logo{
		display: block;
	}
	h1{
		margin-top: 20px;
	}
}

@media screen and (max-width: 700px){
	h1{
		font-size: 32px;
	}

	.pic{
		display: block;
	}
	img{
		width: 500px;
	}
	span{
		width: 200px;
	    font-size: 18px;
	    color: #ff5a5f;
	    top: 3%
	}
	h5{
		display: none;
	}
}

@media screen and (max-width: 600px){
	
	img{
		width: 380px;
	}
}

@media screen and (max-width: 400px){
	
	img{
		width: 300px;
	}
}


